/*/
Font declarations for itc-avant:

Book: (font-weight: 300) default
Medium: (font-weight: 500)
Bold: (font-weight: 700)
/*/

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: var(--white);
    
}

html {
    font-size: 16px;
    font-family: "itc-avant-garde-gothic-pro", sans-serif;
    font-weight: 300;
    font-style: normal;
    /*When specifying font-size, use the 'rem' unit; eg. 2rem = 32px*/
}

/*Background*/
body {
    /*/background-image: url(../media/img/background.jpg);/*/
    background-color: rgba(34, 34, 34);
    background-blend-mode: color;
    background-attachment: fixed;

    font-size: 14px;
}

/*Color variables*/
:root {
    --black: #000000;
    --gray: #181818;
    --orange: #ff9f0a;
    --blue: #0a84ff;
    --white: #ffffff;
}




/*Navigation bar*/

.nav-container {
    background-color: #181818;
    position: fixed;
    z-index: 1;
    width: 100%;
}

.nav {
    display: grid;
    grid-template-columns: 0.2fr auto 1fr;
    align-items: center;
    height: 80px;
    width: 100%;
    max-width: 1890px;
    margin: 0 auto;
}

.btn-container {
    display: grid;
    grid-template-columns: auto;
    background: #181818;
    margin: 0;
    width: 100%;
    position: absolute;
    top: 80px;
    left: -100%;
    opacity: 0;
    transition: all 0.5s ease;
}

.nav-btn {
    color: white;
    font-family: "itc-avant-garde-gothic-pro", sans-serif;
    font-weight: 700;
    font-style: normal;
    border: none;
    padding: 8px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 24px;
    white-space: nowrap;
    border-radius: 4px;
    text-align: center;
    line-height: 60px;
    width: 100%;
    display: table;
}

#order-nav-btn {
    color: red;
}

.nav-btn:hover {
    color: white;
    background-color: #ff9f0a;
    transition: all 0.2s ease-out;
    border: none;
}

#logo {
    width: 180px;
    margin: 5px;
}

#nav-logo {
    margin-left: 20px;
}

.btn-container.active {
    background: #181818;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
}

#menu {
    position: absolute;
    top: 30%;
    right: 5%;
}

.menu-toggle .hamburger-bar {
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background: white;
    display: block;
    cursor: pointer;
}

.menu-toggle:hover {
    cursor: pointer;
}

#menu.is-active .hamburger-bar:nth-child(2) {
    opacity: 0;
}

#menu.is-active .hamburger-bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

#menu.is-active .hamburger-bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}



.content-container {
    display: grid;
    position: relative;
    top: 80px;
}

#index {
    height: 800px;
}

.welcome-container {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 400px;
    margin-bottom: 20px;
}

.background-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(70%);
}

.overlay-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: white;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title-overlay-text {
    font-size: 5vw;
    font-weight: 700;
    margin: 10px;
}

.subtitle-overlay-text {
    font-size: 3vw;
    font-weight: 500;
    margin: 10px;
}

.overlay-text {
    font-size: 3vw;
    margin: 10px;
}

.main-title {
    text-align: center;
    font-weight: 700;
    font-size: 3rem;
    margin: 20px;
}

.about-container {
    background-color: rgba(58, 54, 54, 0.762);
    justify-self: center;
    text-decoration: none;
    text-align:justify;
    color: white;
    margin-top: 10px;
    padding: 10px;
    display: grid;
    justify-items: center;
}

.about-text {
    font-family: "Montserrat";
    width: 50%;
    text-align: justify;
}

@media (max-width: 1000px) {

    .about-text {
        width: 95%;
        text-align: left;
    }
}


/* meny.html */

.menu-grid {
    display: grid;
    gap: 20px;
}

.menu-item {
    background-color: rgba(58, 54, 54, 0.762);
    width: 90%;
    max-width: 500px;
    justify-self: center;
    text-decoration: none;
    text-align:justify;
    color: white;
    border-radius: 4px;
    margin-top: 10px;
    padding: 10px;
}

.menu-img {
    width: 100%;
    padding: 40px;
}

.menu-item h2 {
    text-align: center;
    font-weight: 500;
    font-size: 5vw;
}

@media (min-width: 550px) {

    .menu-item h2 {
        font-size: 28px;
    }
}






/* About.html */

.map-container {
    width: 100%;
    height: 300px;
    max-width: 600px;
    justify-self: center;
    margin: 20px;
}




/* book.html */

.book-var {
    font-family: 'Montserrat';
    font-weight: 400;
    gap: 20px;
}

.book {
    background-color: rgba(58, 54, 54, 0.762);
    width: 90%;
    max-width: 500px;
    justify-self: center;
    text-decoration: none;
    text-align:justify;
    color: white;
    border-radius: 4px;
    margin-top: 10px;
    padding: 10px;
    display: grid;
    gap: 10px;
}

.book-btn {
    background-color: white;
    color: rgba(58, 54, 54, 0.762);
    border: none;
    border-radius: 4px;
    padding: 10px;
    margin-right: 10px;
    cursor: pointer;
}

.book-btn:hover {
    background-color: rgba(58, 54, 54, 0.762);
    color: white;
}





/*order.html*/


.order-var {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    padding: 20px;
    font-family: 'Montserrat';
    font-weight: 400;
    gap: 20px;
    max-width: 1000px;
}

@media (min-width: 500px) {

    .order-var {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 1000px) {

    .order-var {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.order-container {
    background-color: rgba(58, 54, 54, 0.762);
    width: 90%;
    max-width: 500px;
    justify-self: center;
    text-decoration: none;
    text-align:justify;
    color: white;
    border-radius: 4px;
    margin-top: 10px;
    padding: 10px;

}

.order-container h2 {
    font-size: 24px;
    margin-top: 0;
}

.order-container p {
    font-size: 16px;
    margin-bottom: 10px;
}

.order-container label {
    display: block;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
}

.order-container select {
    display: block;
    color: #000000;
    font-size: 16px;
    margin-bottom: 10px;
    width: 100%;
}

.order-container option {
    color: #000000;
}

.order-container input[type="checkbox"] {
    margin-right: 10px;
}

.order-container button {
    background-color: #e64a19;
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    font-size: 16px;
    padding: 10px 20px;
}

.order-container button:hover {
    background-color: #ff6d4a;
}